body {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: repeating-linear-gradient(
        45deg,
        rgb(231, 231, 231),
        rgb(231, 231, 231) 50px,
        rgb(224, 224, 224) 50px,
        rgb(224, 224, 224) 100px
    );
    user-select: none;
    overflow-y: scroll;
}
#nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 70px;
    background-color: black;
    display: flex;
    flex-direction: inline;
    z-index: 100;
}
#left {
    left: 0;
    display: flex;
    align-items: center;
}
#title {
    color: white;
    font-family: "Inter";
    padding-inline: 20px;
    font-size: clamp(20px,3vw,30px);
    top: 0;
    user-select: none;
    cursor: default;
}
#right {
    position: absolute;
    height: 70px;
    right: 0;
    user-select: none;
}
#right > a > button {
    text-align: center;
    padding-inline: clamp(11px,1.75vw,20px);
    color: white;
    font-size: clamp(10px,2vw,25px);
    height: 100%;
    background-color: transparent;
    border: none;
    font-family: "Inter";
    transition: 0.3s ease;
    background-color: black;
    border: none;
    height: 100%;
    color: white;
}
#right > a > button:hover {
    cursor: pointer;
    background-color: rgb(48, 48, 48);
    transition: 0.3s ease;
}
h1 {
    font-family: "Inter";
    font-size: clamp(25px,5vw,65px);
    line-height: 0.2;
}
h2 {
    font-size: clamp(20px,4vw,60px);
    font-family: "Inter";
    line-height: 0.2;
}
#jerry-parry {
    font-size: clamp(15px,3vw,45px);
}
#jerry-holder {
    margin: clamp(5px,3vw,20px);
    width: clamp(400px,60vw,1200px);
    background-color: lightgray;
    border-radius: clamp(20px,2vw,40px);
    display: flex;
    flex-direction: row;
    font-family: "Inter";
    box-shadow: 0px 0px 20px rgba(36, 36, 36, 0.6);
}
#welcome-jerry-holder {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 0.1;
}
#jerry {
    right: 0;
    width: 50%;
    border-top-right-radius: clamp(20px,2vw,40px);
    border-bottom-right-radius: clamp(20px,2vw,40px);
}
#catboi {
    width: clamp(300px,50vw,500px);
    border-radius: clamp(15px, 3vw, 30px);
    padding: 0;
    transition: 0.3s ease;
    transform-origin: center;
    filter: brightness(.95);
}
#catboi:hover {
    filter: brightness(1.05);
    transition: 0.3s ease;
}
#catbutt {
    border-radius: clamp(15px, 3vw, 30px);
    padding: 0;
    transition: 0.1s ease-out;
}
#upgrade {
    width: clamp(200px, 35vw, 350px);
    font-family: "Inter";
    line-height: .5;
    border-radius: clamp(5px, 1vw, 15px);
    border: solid black 3px;
}
#upgrade > h4 {
    font-size: clamp(15px, 1.5vw, 20px);
}
#upgrade > h5 {
    font-size: clamp(10px, 1vw, 15px);
}
